@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
    font-size: 16px;
    margin: 0;
}

nav {
    background: #333;
    color: #f4f4f4;
    font-size: 1.5rem;
    padding: 16px;
}

.panel_container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    padding: 8px 0;
}

.panel_left,
.panel_right {
    flex: 1;
    padding: 15px;
}

.panel_left {
    border-right: 1px solid lightgrey;
}

.panel_right {
    border-left: 1px solid lightgrey;
}